@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat&family=Lato:wght@500&display=swap');

.MenuBar-container {
    background-color: #04888d;
}

.menu-container ul {
    margin-bottom: 0;
}

.items {
    list-style: none;
    margin-right: 12px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(243, 255, 68);
    cursor: pointer;
    padding: 8px;
    text-decoration: none;
  }
  .items:hover {
    color: rgb(160, 253, 202);
  }

  .logo-brand{
      padding-top: 5px;
      color: rgb(243, 255, 68);
      font-size: 30px;
      font-family: 'Caveat';
  }

  .logo-brand p{
      margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
      .MenuBar-container{
          height: 75px;
      }
      .logo-brand{
          letter-spacing: 2px;
          font-size: 16px;
          margin: auto;
          text-align: center;
      }
      .items{
          display: block;
          margin: auto;
          text-align: center;
          font-size: 8px;
      }
      .extra-text{
         display: none;
      }
      .btn-menu {
          margin: auto !important;
          padding: 3px !important;
          font-size: 7px;
      }
  }